# This is Python Tutorial

This is my first program in Python. All is started here

In [1]:
print("Hello Yerassyl!")

Hello Yerassyl!

$a=b+c$

# Variables

In [2]:
x = 3

In [3]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3

In [4]:
print(type(x))

<class 'int'>

In [5]:
x = 5.7

In [6]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    5.7

In [7]:
 print(type(x))

<class 'float'>

In [8]:
abcd = 556.32

In [9]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       float    556.32
x          float    5.7

In [10]:
a, b, c, d, f = 3, 5.7, 7.7, 19, -5.1

In [11]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
abcd       float    556.32
b          float    5.7
c          float    7.7
d          int      19
f          float    -5.1
x          float    5.7

In [12]:
del abcd

In [13]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          float    5.7
c          float    7.7
d          int      19
f          float    -5.1
x          float    5.7

In [14]:
c = 2 + 4j

In [15]:
print(type(c))

<class 'complex'>

In [16]:
g = c + a

In [17]:
print(g)

(5+4j)

In [18]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        3
b          float      5.7
c          complex    (2+4j)
d          int        19
f          float      -5.1
g          complex    (5+4j)
x          float      5.7

In [19]:
s = "Hello!"

In [20]:
print(type(s))

<class 'str'>

# Operators

In [21]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        3
b          float      5.7
c          complex    (2+4j)
d          int        19
f          float      -5.1
g          complex    (5+4j)
s          str        Hello!
x          float      5.7

In [22]:
sumOfaAndb = a + b

In [23]:
print(sumOfaAndb)

8.7

In [24]:
print(type(sumOfaAndb))

<class 'float'>

In [25]:
sumOfaAndd = a + d

In [26]:
print(sumOfaAndd)
print(type(sumOfaAndd))

22
<class 'int'>

In [27]:
print(int(a + b))

8

In [28]:
s1 = "Hello"
s2 = "World"
s = s1 + s2
print(s)

HelloWorld

In [29]:
10//3

3

In [30]:
10/3

3.3333333333333335

In [31]:
_

3.3333333333333335

In [32]:
10 + 3

13

In [33]:
_

13

In [34]:
4 / 2

2.0

In [35]:
_

2.0

In [36]:
3 + 3

6

In [37]:
_

6

In [38]:
startingTimeOfTheCourse = 2.0

In [39]:
%whos

Variable                  Type       Data/Info
----------------------------------------------
a                         int        3
b                         float      5.7
c                         complex    (2+4j)
d                         int        19
f                         float      -5.1
g                         complex    (5+4j)
s                         str        HelloWorld
s1                        str        Hello
s2                        str        World
startingTimeOfTheCourse   float      2.0
sumOfaAndb                float      8.7
sumOfaAndd                int        22
x                         float      5.7

# Bool

In [40]:
a = True
b = True
c = False

In [41]:
%whos

Variable                  Type       Data/Info
----------------------------------------------
a                         bool       True
b                         bool       True
c                         bool       False
d                         int        19
f                         float      -5.1
g                         complex    (5+4j)
s                         str        HelloWorld
s1                        str        Hello
s2                        str        World
startingTimeOfTheCourse   float      2.0
sumOfaAndb                float      8.7
sumOfaAndd                int        22
x                         float      5.7

In [42]:
print(a and b)
print(a and c)
print(c and a)

True
False
False

In [43]:
d = a or c

In [44]:
print(d)

True

In [45]:
not(a)

False

In [46]:
not(b)

False

In [47]:
not(c)

True

In [48]:
not(d)

False

In [49]:
t = not(d)

In [50]:
type(t)

bool

In [51]:
print(t)

False

In [52]:
not((a and b) or (c or d))

False

In [53]:
%whos

Variable                  Type       Data/Info
----------------------------------------------
a                         bool       True
b                         bool       True
c                         bool       False
d                         bool       True
f                         float      -5.1
g                         complex    (5+4j)
s                         str        HelloWorld
s1                        str        Hello
s2                        str        World
startingTimeOfTheCourse   float      2.0
sumOfaAndb                float      8.7
sumOfaAndd                int        22
t                         bool       False
x                         float      5.7

# Comparisons

In [54]:
print(2<3)

True

In [55]:
c = 2 < 3

In [56]:
print(type(c))
print(c)

<class 'bool'>
True

In [57]:
d = 3 == 4
print(d)

False

In [58]:
3 == 3.0

True

In [59]:
x = 4
y = 9
z = 8.3
r = -3

In [60]:
(x < y) and (z < y) or (r == x)

True

In [61]:
(x < y) and (r == x) or (z > y)

False

In [62]:
False or False and True

False

In [63]:
False and False or True

True

In [64]:
print((not(2!=3) and True) or (False and True))

False

# Some useful functions

In [65]:
print(round(4.556))

5

In [66]:
print(round(4.6545656, 2))

4.65

In [67]:
c = divmod(27,5) #tuple
print(c)

(5, 2)

In [68]:
G = divmod(34,9)

In [69]:
type(G)

tuple

In [70]:
print(G)

(3, 7)

In [71]:
G[0]

3

In [72]:
G[1]

7

In [73]:
34//9

3

In [74]:
34%9

7

In [75]:
%whos

Variable                  Type       Data/Info
----------------------------------------------
G                         tuple      n=2
a                         bool       True
b                         bool       True
c                         tuple      n=2
d                         bool       False
f                         float      -5.1
g                         complex    (5+4j)
r                         int        -3
s                         str        HelloWorld
s1                        str        Hello
s2                        str        World
startingTimeOfTheCourse   float      2.0
sumOfaAndb                float      8.7
sumOfaAndd                int        22
t                         bool       False
x                         int        4
y                         int        9
z                         float      8.3

In [76]:
isinstance(3, int)

True

In [77]:
isinstance(3.4, int)

False

In [78]:
isinstance(3.4, (float, int))

True

In [79]:
isinstance(2 + 3j, (int, float, str, complex)) #its complex

True

In [80]:
pow(2, 3)

8

In [81]:
2**3

8

In [82]:
pow(2,4,8) #third is remainder: 16%8 = 0

0

In [83]:
16%8

0

In [84]:
x = input("Enter a number: ")

Enter a number: 7

In [85]:
type(x)

str

In [86]:
x = int(x)
print(type(x))
print(x)

<class 'int'>
7

In [87]:
print(x-34)

-27

In [88]:
a = float(input("Enter a real number: "))

Enter a real number: 6

In [89]:
print(a)
print(type(a))

6.0
<class 'float'>

In [90]:
print("hello")

hello

In [91]:
pow?

In [92]:
input??

In [93]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

# Control Flow

In [ ]:
a = int(input())
b = int(input())
if a > b:
    print(a)
if b > a:
    print(b)

In [ ]:
a = int(input())
b = int(input())
if a > b:
    print(a)
    print("if part")
else:
    print(b)
    print("else")

In [ ]:
a = 10
b = 10
if a==b:
    print("Equal")
elif a > b:
    print("A")
else:
    print("B")
print("Not in if")

In [ ]:
a = 9
b = 10
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
a = int(input("Enter Marks: "))
if a >= 85:
    print("A Grade")
elif (a < 85) and (a >= 80):
    print("A- Grade")
elif (a < 80) and (a >= 75):
    print("B Grade")
elif (a < 75) and (a >= 70):
    print("B- Grade")
else:
    print("Below Average")

In [ ]:
a = 13
if a > 10:
    print(">10")
elif not(a > 10):
    print("Else part")

In [ ]:
x = int(input("Enter a number: "))

if x > 10:
    print("Your Number is above ten, ")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

In [ ]:
a = int(input())
if a > 10:
    print(">10")
    print("Inside the top if")
    if a > 20:
        print(">20")
        print("inside the nested if")
        if a > 30:
            print(">30")
            print("inside the nested if of nested if")
        else:
            print("<=30")
            print("inside the else part of nested if of nested if")
    else:
        print("<=20")
        print("Inside the else part of nested if")
print("Outside all ifs")

In [ ]:
#Problem task
""" User will enter a floating point number lets say 
238.915. Your task is to find out the integer portion 
before the point (in this case 238) and then check if
that interger portion is an even number or not?
"""
x = float(input("Enter a real number: "))
y = round(x)
if x > 0:
    if y > x:
        intPortion = y - 1
    else:
        intPortion = y
else:
    if y < x:
        intPortion = y + 1
    else: 
        intPortion = y

print(intPortion)
if intPortion%2 == 0:
    print("Even")
else:
    print("Odd")

# Loops

In [ ]:
n = int(input("Max irerations: "))
i = 1
while i < n:
    print(i)
    i += 1
print("Done.")

In [ ]:
n = int(input())
i = 1
while i < n:
    print(i**2)
    print("This is iteration number: ", i)
    i += 1 # i = i+1
print("Loop done")

In [ ]:
n = int(input("Max iterations: "))
i = 1
while i < n:
    if i%2 == 0:
        print(i)
    else:
        pass
    i+=1
print("Done.")

In [ ]:
i = 1
while True:
    if i%17 == 0:
        print("Inside if")
        print("break")
        break
    else:
        print("Inside else: ", i)
        i += 1
        continue
    print("I am inside in the loop")
print("Done.")

In [ ]:
i = 1
while True:
    if i%9 != 0:
        print("inside if")
        i += 1
        continue #continue asks to go back again
    print("something")
    print("something else")
    break
print("Done.")

In [ ]:
L = []
for i in range(1,20,3):
    print(i)
    L.append(i**2) 
print(L)

In [ ]:
S = ["apple", 4.9, "cherry"]
i = 1
for x in S:
    print(x)
    i += 1 
    if i == 3:
        break
    else:
        pass
else:
    print("Loop completes its iterations")
print("Outside the loop")

In [ ]:
D = {"apple":44, "cherry":"game"}
for x in D:
    print(x,D[x])

In [ ]:
D = {"A":10, "B":-19, "C":"abc"}
for x in D:
    print(x,D[x])

In [ ]:
""" Given a list of numbers  i.e. [1,2,4,-5,7,9,3,2], make another list
that contains all the items in sorted order from min to max. i.e. your
result will be another list like [-5,1,2,2,3,4,7,9]
"""
L = [1,2,4,-5,7,9,3,2]
for j in range(len(L)):
    m = L[j]
    idx = j
    c = j
    for i in range(j, len(L)):
        if L[i] < m:
            m = L[i]
            idx = c
        c+=1
    tmp = L[j]
    L[j] = m
    L[idx] = tmp
print(L)

In [ ]:
L

# Functions

In [ ]:
def printSuccess():
    print("The task was successful")
    print("Moving to the next task")
    print("Send me the next task")
    
printSuccess()

In [ ]:
%whos

In [ ]:
printSuccess()

In [ ]:
print(_)

In [ ]:
def printSuccess2():
    """ This function is doing nothing except printing a message.
    That message is "Hello"
    """
    print("Hello")

In [ ]:
printSuccess2?

In [ ]:
printSuccess2??

In [ ]:
len?

In [ ]:
len??

In [ ]:
help(printSuccess2)

In [ ]:
help??

In [ ]:
printSuccess2()