In [1]:
import pandas as pd

In [2]:
bought_data = pd.read_csv("i_bought.csv", sep=';')
bought_data

         Дата     Вещь  Стоимость
0  11.06.2023  шоколад        500
1  11.06.2023   пряник        320
2  13.06.2023     хлеб        140
3  14.06.2023   молоко        310

In [3]:
bought_data.head(1)

         Дата     Вещь  Стоимость
0  11.06.2023  шоколад        500

In [4]:
type(bought_data['Дата'])

pandas.core.series.Series

In [5]:
medium_value = bought_data['Стоимость'].mean()

In [6]:
number_of_things = len(bought_data['Вещь'])

In [7]:
last_thing_bought = bought_data.tail(1)

In [8]:
a=[]
for i in bought_data['Стоимость']:
    a.append(i)
all_expenses = sum(a)

In [9]:
min_expense = bought_data[bought_data['Стоимость']==bought_data['Стоимость'].max()]

In [10]:
max_expense = bought_data[bought_data['Стоимость']==bought_data['Стоимость'].min()]

In [11]:
print("Среднее значение затрат:\n",medium_value,"тенге")
print("Кол-во вещей:\n",number_of_things)
print("Последняя затрата:\n",last_thing_bought)
print("Итог:\n",all_expenses,"тенге")
print("Наименьшая затрата:\n", min_expense)
print("Наибольшая затрата:\n",max_expense)

Среднее значение затрат:
 317.5 тенге
Кол-во вещей:
 4
Последняя затрата:
          Дата    Вещь  Стоимость
3  14.06.2023  молоко        310
Итог:
 1270 тенге
Наименьшая затрата:
          Дата     Вещь  Стоимость
0  11.06.2023  шоколад        500
Наибольшая затрата:
          Дата  Вещь  Стоимость
2  13.06.2023  хлеб        140