In [1]:
import pandas as pd
df = pd.read_csv("weather_data.csv",sep=';')
df
weather_data2 = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df2 = pd.DataFrame(weather_data2)
df

          day  temperature  windspeed  event
0  01.01.2017           32          6   Rain
1  01.02.2017           35          7  Sunny
2  01.03.2017           28          2   Snow
3  01.04.2017           24          7   Snow
4  01.05.2017           32          4   Rain
5  01.06.2017           32          2  Sunny

In [2]:
rows, columns = df.shape

In [3]:
rows

6

In [4]:
columns

4

In [5]:
df.head()

          day  temperature  windspeed  event
0  01.01.2017           32          6   Rain
1  01.02.2017           35          7  Sunny
2  01.03.2017           28          2   Snow
3  01.04.2017           24          7   Snow
4  01.05.2017           32          4   Rain

In [6]:
df.head(2)

          day  temperature  windspeed  event
0  01.01.2017           32          6   Rain
1  01.02.2017           35          7  Sunny

In [7]:
df.tail()

          day  temperature  windspeed  event
1  01.02.2017           35          7  Sunny
2  01.03.2017           28          2   Snow
3  01.04.2017           24          7   Snow
4  01.05.2017           32          4   Rain
5  01.06.2017           32          2  Sunny

In [8]:
df.tail(1)

          day  temperature  windspeed  event
5  01.06.2017           32          2  Sunny

In [9]:
df.tail(3)

          day  temperature  windspeed  event
3  01.04.2017           24          7   Snow
4  01.05.2017           32          4   Rain
5  01.06.2017           32          2  Sunny

In [10]:
df[2:5] #slicing

          day  temperature  windspeed event
2  01.03.2017           28          2  Snow
3  01.04.2017           24          7  Snow
4  01.05.2017           32          4  Rain

In [11]:
df[:]

          day  temperature  windspeed  event
0  01.01.2017           32          6   Rain
1  01.02.2017           35          7  Sunny
2  01.03.2017           28          2   Snow
3  01.04.2017           24          7   Snow
4  01.05.2017           32          4   Rain
5  01.06.2017           32          2  Sunny

In [12]:
df

          day  temperature  windspeed  event
0  01.01.2017           32          6   Rain
1  01.02.2017           35          7  Sunny
2  01.03.2017           28          2   Snow
3  01.04.2017           24          7   Snow
4  01.05.2017           32          4   Rain
5  01.06.2017           32          2  Sunny

In [13]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [14]:
df.day

0    01.01.2017
1    01.02.2017
2    01.03.2017
3    01.04.2017
4    01.05.2017
5    01.06.2017
Name: day, dtype: object

In [15]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    32
Name: temperature, dtype: int64

In [16]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [17]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [18]:
type(df['event'])

pandas.core.series.Series

In [19]:
df

          day  temperature  windspeed  event
0  01.01.2017           32          6   Rain
1  01.02.2017           35          7  Sunny
2  01.03.2017           28          2   Snow
3  01.04.2017           24          7   Snow
4  01.05.2017           32          4   Rain
5  01.06.2017           32          2  Sunny

In [20]:
df[['event']]

   event
0   Rain
1  Sunny
2   Snow
3   Snow
4   Rain
5  Sunny

In [21]:
df[['day']]

          day
0  01.01.2017
1  01.02.2017
2  01.03.2017
3  01.04.2017
4  01.05.2017
5  01.06.2017

In [22]:
df

          day  temperature  windspeed  event
0  01.01.2017           32          6   Rain
1  01.02.2017           35          7  Sunny
2  01.03.2017           28          2   Snow
3  01.04.2017           24          7   Snow
4  01.05.2017           32          4   Rain
5  01.06.2017           32          2  Sunny

In [23]:
df['temperature'].max()

35

In [24]:
df['temperature'].min()

24

In [25]:
df['temperature'].mean()

30.5

In [26]:
df['temperature'].std()

3.8858718455450894

In [27]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [28]:
df[df.temperature>=32] #print temperature than more or equal to 32

          day  temperature  windspeed  event
0  01.01.2017           32          6   Rain
1  01.02.2017           35          7  Sunny
4  01.05.2017           32          4   Rain
5  01.06.2017           32          2  Sunny

In [29]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

          day  temperature
1  01.02.2017           35

In [30]:
df[df.temperature==df['temperature'].max()]

          day  temperature  windspeed  event
1  01.02.2017           35          7  Sunny

In [31]:
df

          day  temperature  windspeed  event
0  01.01.2017           32          6   Rain
1  01.02.2017           35          7  Sunny
2  01.03.2017           28          2   Snow
3  01.04.2017           24          7   Snow
4  01.05.2017           32          4   Rain
5  01.06.2017           32          2  Sunny

In [32]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [33]:
df.set_index('day', inplace=True)
df

            temperature  windspeed  event
day
01.01.2017           32          6   Rain
01.02.2017           35          7  Sunny
01.03.2017           28          2   Snow
01.04.2017           24          7   Snow
01.05.2017           32          4   Rain
01.06.2017           32          2  Sunny

In [34]:
df.loc['01.04.2017']

temperature      24
windspeed         7
event          Snow
Name: 01.04.2017, dtype: object

In [35]:
df.reset_index(inplace=True)

In [36]:
df

          day  temperature  windspeed  event
0  01.01.2017           32          6   Rain
1  01.02.2017           35          7  Sunny
2  01.03.2017           28          2   Snow
3  01.04.2017           24          7   Snow
4  01.05.2017           32          4   Rain
5  01.06.2017           32          2  Sunny

In [37]:
df.set_index('event', inplace=True)

In [38]:
df

              day  temperature  windspeed
event
Rain   01.01.2017           32          6
Sunny  01.02.2017           35          7
Snow   01.03.2017           28          2
Snow   01.04.2017           24          7
Rain   01.05.2017           32          4
Sunny  01.06.2017           32          2

In [39]:
df.loc['Rain']

              day  temperature  windspeed
event
Rain   01.01.2017           32          6
Rain   01.05.2017           32          4

In [40]:
df.loc['Snow']

              day  temperature  windspeed
event
Snow   01.03.2017           28          2
Snow   01.04.2017           24          7